@import "css/variables.less";

body {}
h1, .h1, .h1-like {font-size: 1.6em;}

h1 small{display:inline;}
h3,.h3{font-size:1.1em}
h4,.h4{font-size:1.1em}
a:hover{background-color: transparent;}

.page {background:#CCC url(../images/fond.png) repeat top center;border:none 0px;margin:0 auto;
.container{padding:0em;}
#nav{background:#FFF;}
#super_contenu{background:#FFF; padding:1.5em 1.5em 4em 1.5em;}
}

#header{border:none 0px;margin:0;padding:0;	background:transparent url(../images/fond_entete.png) no-repeat  280px  42px;

  .fleche_logo{width:46px;height:46px;position: absolute;top:50px;left:100px;	background:transparent url(../images/fleche_logo.png) no-repeat  top left;}
	h1{margin:0;}
	.header_texte { position:absolute;left:115px;top:20px;background-color:@yellow;color:@blueDark; line-height:1.1;padding:1.5em;border-radius:0.5em;text-align: center;}
	#nom_site{font-size:1.6em;display:block;color:@blueDark; font-family: @baseFontFamily;padding: 0;text-transform: uppercase;font-weight:600;}
	#slogan_site_spip{ display:none;font-size:1.15em;line-height:1.8;color:@orange;}
	#association {  font-size:1.4em;font-family: @baseFontFamily;font-weight: 300;padding: 0;  }
	h1 { padding:0; font-size:18px; }
 .accueil { float:left;}
 .mega_bouton{position:relative;}
 .spip_logos{padding:0.25em;margin:1em 0.25em 0.25em 0.25em;}
 .bloc_adherer {float:right;display:inline-block;font-family:@baseFontFamily;font-weight:300;font-size:1.5em;height:2.5em;background-color:@yellow;padding:0.5em 1em;margin:2em 0 1em 0; text-align:center;border-bottom-left-radius: 0.25em;border-top-left-radius: 0.25em;}
 .bloc_adherer span{line-height:2.5;color:@blueDark;padding:0; text-transform:uppercase;}

 .bloc_contact {float:right;display:inline-block;font-family:@baseFontFamily;font-weight:300;font-size:1.5em;height:2.5em;background:@blue;padding:0.5em 1em;margin:2em 0 1em 0;border-bottom-right-radius: 0.25em;border-top-right-radius: 0.25em;  color:#FFF; text-align:center;}
 .bloc_contact  span{line-height:2.5;text-align:center;display:block;color:@blueDark;padding:0; text-transform:uppercase;}

 .bloc_contact .texte_suppl{}
 .bloc_contact .telephone{font-size:0.9em;text-align:center;}
 .bloc_contact .courriel{ font-size:0.75em;text-align:center;}
 .bloc_contact .courriel a{ color:@white;}
}

.cartouche .publication{display:none;}

#descriptif_site_spip{font-size:1em;
	.entete {padding:0.25em 0 0.5em 0;}
	p img{padding:0.25em 0 0.5em 0;}
}



.menu-liste{ border:none 0px;}

#nav{position:relative; clear:both;z-index:200 ;margin:0;

.navbar-inner{ border:none 0px;border-radius:0px;}
.partenaire {text-align:right;float:right;}
.nav-collapse-main>.nav{width:100%;}
	.bouton_menu>ul.nav{display:none;}
	.panneau {background-color:@blueDarkLight;position:absolute; padding:1em 2em;display:none;margin:0;top:2.5em;z-index:2;border-radius:0.25em;}
	.panneau a{color:#FAFAFA;font-family: @baseFontFamily, sans-serif;font-weight:bold;font-size:1.1em }
	.panneau a:hover{color:#FFF; }
	.panneau .nav{float:none;}
	.panneau .description_panneau{width:18em;float:left;padding:0.5em 2em 1em 0;font-size:0.9em;}
	.panneau .description_panneau div.titre{font-size:1.1em;font-weight:600;color:@blueDark;font-family: @baseFontFamily, sans-serif;}
	.panneau .description_panneau div.descriptif{color:#FFF;font-family: @baseFontFamily, sans-serif;}
	.panneau .mini_menu {width:15em;float:right;padding:0.5em 0;background:@blueDark;border-radius:0.25em;}
	.panneau .mini_menu .menu{margin-bottom: 1em;} 
	.panneau .mini_menu ul.menu-liste{font-size:0.9em;list-style:none inside;}
	.panneau .mini_menu ul.menu-liste li {display:block;padding:0;margin:0;float:none;}
	.panneau .mini_menu ul.menu-liste li a{ }
	.panneau .mini_menu ul.menu-liste ul {list-style:none inside; padding:0 0 0 0.5em;font-size:0.9em;margin:0;}
	.panneau .mini_menu ul.menu-liste ul li{list-style:none inside; padding:0.15em 0 ;margin:0;}
	.panneau .mini_menu ul.menu-liste ul li a{ font-weight:normal}
	.panneau .mini_menu ul.menu-liste ul ul li{padding:0.25em 0 0.25em 1em;}

}
.secondary .liste-items .spip_logos{ max-width : 100%;}
.secondary h3, .secondary .h3, .secondary .h3-like{margin:0;}

#conteneur {background:#FFF;padding:2em 2em;margin-top:-1em;}

.page_sommaire{
	.sommaire_media {padding:0.25em 1em 0.5em 1em;border-radius:0.25em;}
	div.socialtags{display:none;}
	.carousel-caption{background:none repeat scroll 0 0 rgba(255, 255, 255, 0.75);font-size:0.9em;
		h3{margin-bottom:0.5em;}
		p{color:#555;}
	}

	.mini_agenda{font-size:0.9em;line-height:1.2;
	  li{clear:left;}

	}

}



h1.h1,h2.h2,h3.h3 {font-family: 'Ubuntu', sans-serif;}
.menu h2{ display:none; }
.menu h3 a,.menu h4 a{ color:#444; }
.liste h2{ display:none; }
.cartouche .info-publi{display:none;}
.liste-items .item .info-publi{display:none;}

.soutien {  margin:2em 0;padding:0;}
.soutien ul {text-align:center;list-style:none;margin:0;background-color:#FAFAFA;padding:1em;}
.soutien ul li{list-style:none;display:inline-block;}


h3.spip,h4.spip {font-family: 'Ubuntu', sans-serif;}
h4.spip{font-size:1.1em;}

ul.ressource { list-style:none; margin:0.5em 0;padding:0.5em 0;  }
ul.ressource li { list-style:none; padding:0.5em 0;margin: 0; }
ul.ressource li div.logo{ float:left;width:80px;min-height:40px; margin: 0.25em 1em 0.25em 0}
ul.ressource li div.titre{ font-weight:bold;  }
ul.ressource li div.descriptif{ font-weight:normal; font-size:0.9em;line-height:1.2 }




#contenu .bloc_en_chiffres { float:right;width:15em;margin:1em 0 1em 2em; background-color:#EEE;padding:0.5em 1em;line-height:1.2em; }



.page_partenaires table.spip td,.page_partenaires table.spip th{border:0 none;padding: 0.75em 0.5em;}
.page_partenaires table.spip tr.row_odd { background: none transparent;}
.page_partenaires table.spip tr.row_even { background: none transparent;}
.page_partenaires table.spip td { font-size:0.85em;}
.page_partenaires table.spip td strong{ font-size:1.1em;}


#content {
	div.menu{
		.menu-liste .menu-entree{ font-size:1.2em;}
		.plan-article ul{ padding:0.5em 1em; }
		.plan-article ul li{ font-size:0.8em;padding:0.1em 0; }
	}
	.postmeta{display:none;}
}	



.liste-items .item .h3 {border:0px none;}
.liste-items .item p{ margin:0.25em 0;}
.meta-publi{font-size:0.9em;}

.page_plan h3.h3{display: none;}

div.socialtags {clear:none;margin:0; float: right;    margin-top: 1em;    overflow: hidden;    width: 30%;}
div.socialtags ul {margin:0 0 0 2em;display:block;}

span.date{color:#AAA;}


.page-sommaire #aside {

li.item{margin-bottom:2em;}
}

#extra {

  h2.h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 300;
    font-family: @baseFontFamily;
    color: @gray;
    a {
      color: @gray;
    }
  }

}

  #aside {

h2.h2{ font-size:1.8em;text-transform: uppercase;font-weight: 300;font-family: @baseFontFamily;color:@gray;
	a {color:@gray;}
	}
.articles > p { text-align: right;}


h3{ font-size:1.1em; 
	a {}
	}
.meta-publi{display:none;}
.logo {padding-right:0.5em;}
.introduction{ font-size:0.9em; line-height:1.2}
}

.articles{
.liste-items li { clear:left;padding:0.5em 0;}
.liste-items .logo{float:left; clear:left;}
}

@media (max-width: 767px) {

	.page .container{padding:0}
	.bloc_contact{display:none;}
	#nav{ margin-left:1em; }
	.page{background:#FFF;}
}

.navbar .nav > li > a{padding:5px 15px;}
.navbar-inner{min-height:0px;}


ul, ol{ margin-left :1em;list-style:none;}


  .reponse_formulaire_ok{  background-color: #CCFFAA;}
  
  .cat_checkbox{padding:0.5em 0;
	div.choix{margin: 0 0 0 1em;}
  
  }


#liste-organisation{ margin:0;
>li.item{ padding:0.5em; border-bottom:1px #CCC solid;border-right:1px #EEE solid;
	h3 {margin:0;
		.type_acteur_relais{display:inline;font-weight:normal;font-size:0.8em;color:#595959;}
	}
	h4 {margin:0.5em 0 0 0;}
	.details{ font-size:0.9em;
		.mots{ 
			ul{ display:inline;padding:0;margin:0;
				li{display:inline-block;border-bottom:none 0;padding:0 0.5em 0 0;}
			}
		}
	.btn{ z-index:200; } 
	}
	
}
li:hover{ background-color:#FAFAFA;}
}

#footer{ background-color:#cfd0db;margin:0;padding:3em 2em;	
a{color:#555;}
font-size:0.9em;line-height:1.3;
.published{font-size:0.9em;}

}

div.cs_blocs {
	background-color:#F1F1F1;border-radius:0.5em;padding:0.25em 0.5em;
 div.blocs_titre { background-image:url(../images/triangle_bas.png);margin:0; }
 div.blocs_titre a { color:#595959; }
 div.blocs_replie { background-image:url(../images/triangle.png); }
 }



.alaune{
  li.item{margin:2em 0;}
  p{margin:0;}
  h3.h3{margin:0;}
}
.liste_actu{

  li.item{margin:2em 0;}
  p{margin:0;font-size:0.9em;}
  h3.h3{margin:0;}
  .entry-title .spip_logos {clear: left;    float: left;    line-height: 1px;    margin: 0 18px 30px 0;}
}

.liste_partenaire{

  margin-top:5em;
  img{margin : 0.25em 0.5em;}
}