@import "functions";
@import "scss/variables";
@import "mixins";


body {font-family: $font-family-base; color:$bleu-adav; }
h1, .h1, .h1-like { font-size: 1.6em;line-height:1.2;margin-top:21px; }
h1 small { display: inline; }
h3, .h3 { font-size: 1.1em;line-height:1.1;  }
h4, .h4 { font-size: 1.1em }
h1 small, .h1 small, .h1-like small, h2 small, .h2 small, .h2-like small, h3 small, .h3 small, .h3-like small, h4 small, .h4 small, .h4-like small, h5 small, .h5 small, .h5-like small, h6 small, .h6 small, .h6-like small {color: $gray-300;}





ul{padding:0;}


.formulaire_spip form {
  font-size:0.85em;
  legend {display:none;}
}
li.fieldset {margin:0 0 5em 0;}
span.obligatoire{font-size:0.8em;color:$gray-500;font-weight:normal;}
h3.legend{margin:0 0 0.25em 0;color:#666;}


.liste-items{padding:0;}



.cartouche .spip_logos, .hero-unit .spip_logos, .entry-title .spip_logos {
  clear: right;
  float: right;
  line-height: 1px;
  margin: 0 0 10px 16px;
}



a:hover { background-color: transparent; }
.en_construction{text-align: center;font-size:1.5em;}


.jqvmap-label { z-index: 3001; }
.page { position: relative; background: #CCC url("../images/fond.png") repeat top center; border: none 0px; margin: 0 auto;
  .container { padding: 0em; }


  #super_contenu { background: #FFF; padding: 1.5em 1.5em 4em 1.5em; }
}
#header { border: none 0px; margin: 0; padding: 0; background: transparent url(../images/fond_entete.png) no-repeat 268px 42px; min-height: 146px;

  .fleche_logo { width: 46px; height: 46px; position: absolute; top: 50px; left: 100px; background: transparent url(../images/fleche_logo.png) no-repeat top left; }
  h1 { margin: 0; }
  .header_texte { position: absolute; left: 115px; top: 20px; background-color: $yellow; color: $bleu-adav; line-height: 1.1; padding: 1.5em; border-radius: 0.5em; text-align: center; }
  #nom_site { font-size: 1.6em; display: block; color: $bleu-adav; font-family: $font-family-base; padding: 0; text-transform: uppercase; font-weight: 600; }
  #slogan_site_spip { display: none; font-size: 1.15em; line-height: 1.8; color: $orange; }
  #association { font-size: 1.4em; font-family: $font-family-base; font-weight: 300; padding: 0; }
  h1 { padding: 0; font-size: 18px; }
  .accueil { float: left; }
  .mega_bouton { position: relative; }
  .spip_logos { padding: 0.25em; margin: 1em 0.25em 0.25em 0.25em; }
  .bloc_adherer { float: right; display: inline-block; font-family: $font-family-base; font-weight: 300; font-size: 1.5em; height: 3.5em; background-color: $yellow; padding: 0.5em 1em; margin: 2em 0 1em 0; text-align: center; border-bottom-left-radius: 0.25em; border-top-left-radius: 0.25em; }
  .bloc_adherer span { line-height: 2.5; color: $bleu-adav; padding: 0; text-transform: uppercase; }

  .bloc_contact { float: right; display: inline-block; overflow:hidden;font-family: $font-family-base; font-weight: 300; font-size: 1.5em; height: 3.5em; background: $bleu-ciel; padding: 0.5em 1em; margin: 2em 0 1em 0; border-bottom-right-radius: 0.25em; border-top-right-radius: 0.25em; color: #FFF; text-align: center; }
  .bloc_contact span { line-height: 2.5; text-align: center; display: block; color: $bleu-adav; padding: 0; text-transform: uppercase; }

  .bloc_contact .texte_suppl { margin-top: 0.5em; }
  .bloc_contact .telephone { font-size: 0.9em; text-align: center; }
  .bloc_contact .courriel { font-size: 0.75em; text-align: center; }
  .bloc_contact .courriel a { color: $white; }
}
.cartouche .publication { display: none; }
#descriptif_site_spip { font-size: 1em;
  .entete { padding: 0.25em 0 0.5em 0; }
  p img { padding: 0.25em 0 0.5em 0; }
}
.menu-liste { border: none 0px; }



.form-group label{ padding: 0.25em 0; }
.form-group input{ margin: 0.25em 0; }
.form-group button{ margin: 2em 0; }

#formulaire_menu_lang { display:none; }



///////////////////////////////////////
//////// Header
//////////////////////////////////////

#sonnette{
  position :absolute;
  top:78px;
  left:448px;
  background: transparent url('../images/sonnette.png') no-repeat;
  height:6px;
  width:11px;

}


///////////////////////////////////////
//////// Barre de navigation
//////////////////////////////////////
#menuhaut{
  width: 100%;
  #nav {
    position: relative;
    clear: both; z-index: 200;
    margin: 0;
    padding: 0;
    border:0 none;
    border-radius: 0;
    background-color: $bleu-adav;
    a {color:$white;line-height:30px;padding: 0.5em em; }
   li{ }
   li.active > a {background-color: $bleu-sombre-adav; }

  #barrenav > ul.menu-liste > li > ul.menu-liste { display:none; }
  .navbar-inner { border: none 0; border-radius: 0; }
  .partenaire { text-align: right; float: right; }
  .nav-collapse-main > .nav { width: 100%; }
  .bouton_menu > ul.nav { display: none; }
    .navbar-inner{width: auto;margin:0 auto;font-size:0.80em;}
    .menuder {width: auto; display: flex; flex-direction: row;margin:0;  list-style: none; text-align: left;  }
    .menuder ul {   margin: 0; padding: 0; list-style: none; text-align: left;  }
    .menuder a { display:block;text-decoration: none;padding: 0.25em 0.75em ;  border:none 0;  color:$white;  }
    .menuder a:hover { background-color: $bleu-clair-adav }
    .menuder a:active {  }

    .menuder li { position:relative;padding:  0; margin:0 ; }
    .menuder li.active a { background-color:$bleu-adav;  }



  }

  .panneau {
    display:none;
    background-color: $bleu-clair-adav;
    position: absolute;
    padding: 1em 2em;
    margin: 0;
    top: 3em;
    border-radius: 0.25em;
    min-width:550px;
    z-index: 3000;

    a { color: #FAFAFA; font-weight: bold; font-size: 1.1em;line-height:1.3;margin:0; }
    a:hover { color: #FFF; }
    .nav { float: none; margin: 0; }

    .description_panneau { width: 18em; float: left; padding: 0.5em 2em 1em 0; font-size: 0.9em; }
    .description_panneau div.titre { color: $white; font-size: 1.1em; font-weight: 600; font-family: $font-family-base, sans-serif; }
    .description_panneau div.descriptif { font-weight: normal; color: $white; font-family: $font-family-base, sans-serif; }
    .mini_menu { width: 15em; float: right; padding: 0; background: $bleu-adav; border-radius: 0.25em; margin: 0; }
    .mini_menu ul.menu-liste { font-size: 0.9em; list-style: none inside;margin:0;padding: 0; }
    .mini_menu ul.menu-liste li { display: block; padding: 0 ; margin: 0; float: none; }
    .mini_menu ul.menu-liste li a { padding: 0.5em; }
    .mini_menu ul.menu-liste li a:hover {background-color: darken($bleu-adav,5%);  }
    .mini_menu ul.menu-liste ul { list-style: none inside; padding: 0 0 0 0.5em; font-size: 0.9em; margin: 0; }
    .mini_menu ul.menu-liste ul li { list-style: none inside; padding: 0.15em 0; margin: 0; }
    .mini_menu ul.menu-liste ul li a { font-weight: normal }
    .mini_menu ul.menu-liste ul ul li { padding: 0.25em 0 0.25em 1em; }

  }

}



/* Sidr : indentation multi-niveaux sur menu Responsive */

.sidr {

  ul li ul { margin: 0 0 0 1em;
    li { line-height: 1.2;padding-top:0; }
    li a{ display:block;line-height: 1.2;padding-top:0.75em;padding-bottom:0.75em; }
    li.sidr-class-active { box-shadow:none;line-height: 1.2;border: 0 none; }
    li:hover { box-shadow:none;line-height: 1.2;border: 0 none; }
    li:hover > a { box-shadow:none;line-height: 1.2;border: 0 none; }
  }
}

  /* Sidr : transforme le symbole Menu (3 traits) en croiX */
  body.sidr-open #nav .menu-conteneur a.btn > .icon-bar {
    transform-origin: 25% 50% 0;
    transform: rotate(45deg);
    height: 3px;
    transition: rotate 3s;
  }

  body.sidr-open #nav .menu-conteneur a.btn > .icon-bar + .icon-bar {
    transform: rotate(-45deg);
    height: 3px;
  }
  body.sidr-open #nav .menu-conteneur a.btn > .icon-bar + .icon-bar + .icon-bar {
    display: none;
  }
  .sidr-class-description_panneau{display:none;}




  ///////////////////////////////////////
  //////// Fil d'ariane
  //////////////////////////////////////


  .breadcrumb {
    margin:0;font-size:0.9em;
    span.divider { display:none; }
  }



  #outils{position:absolute;margin-left:-90px;top:120px;height:0px;}



  .secondary .liste-items .spip_logos { max-width: 100%; }
  .secondary h3, .secondary .h3, .secondary .h3-like { margin: 0; }
  #conteneur { background: #FFF; padding: 2em 2em; margin-top: -1em; }
  #myCarousel {  border-radius: 0.5em;
    ol.carousel-indicators{bottom:0;margin-bottom: 0;padding:0px;}
    a.carousel-control{
      border-radius: 0.25em;
      background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
      -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
    }

    .carousel-control:hover, a.carousel-control:focus { opacity: 0.2  }


    .carousel-inner { border-radius: 0.5em;
      .item { border-radius: 0.5em; }
      h3{line-height: 1.4;}
      p{line-height: 1.4;}
      p a { background-color: $primary; border-radius: $border-radius;padding:0.1em 0.5em;color:white;display:inline-block;margin:0 0.5em }

      .carousel-caption { bottom: 0; background: none repeat scroll 0 0 rgba(22, 22, 22, 0.5); font-size: 0.9em;left:0;right:0; padding:0.5em 3em 1.5em 3em;

        h3 { margin-bottom: 0.5em; }
        p { color: white; font-size: 1.2em; font-weight: normal; margin-bottom: 0.5em; }

      }

    }

  }
  .page_sommaire {
    .sommaire_media { padding: 0; border-radius: 0.25em; }
    div.socialtags { display: none; }

    .mini_agenda { font-size: 0.9em; line-height: 1.2;
      li { clear: left; margin-bottom: 1em;
      div.logo{ margin-right:0.5em;}
      div.titre{ font-weight: bold;}
      }

    }



  }

  .main{
    img{
      max-width:100%; height:auto;
    }
  .album{
    .thumbnail{

      width: 30%;
      min-width: 180px;
      max-width: 100%;
      float: left;
      margin-right: 2%;

    }
  }

  }

  h1.h1, h2.h2, h3.h3 { font-family: 'Ubuntu', sans-serif; }
  .menu h2 { display: none; }
  .menu h3 a, .menu h4 a { color: #444; }

  .cartouche .info-publi { display: none; }
  .liste-items .item .info-publi { display: none; }
  .soutien { margin: 2em 0; padding: 0; }
  .soutien ul { text-align: center; list-style: none; margin: 0; background-color: #FAFAFA; padding: 1em; }
  .soutien ul li { list-style: none; display: inline-block; }
  h3.spip, h4.spip { font-family: 'Ubuntu', sans-serif; }
  h4.spip { font-size: 1.1em; }
  ul.ressource { list-style: none; margin: 0.5em 0; padding: 0.5em 0; }
  ul.ressource li { list-style: none; padding: 0.5em 0; margin: 0; }
  ul.ressource li div.logo { float: left; width: 80px; min-height: 40px; margin: 0.25em 1em 0.25em 0 }
  ul.ressource li div.titre { font-weight: bold; }
  ul.ressource li div.descriptif { font-weight: normal; font-size: 0.9em; line-height: 1.2 }
  #contenu .bloc_en_chiffres { float: right; width: 15em; margin: 1em 0 1em 2em; background-color: #EEE; padding: 0.5em 1em; line-height: 1.2em; }
  .page_partenaires table.spip td, .page_partenaires table.spip th { border: 0 none; padding: 0.75em 0.5em; }
  .page_partenaires table.spip tr.row_odd { background: none transparent; }
  .page_partenaires table.spip tr.row_even { background: none transparent; }
  .page_partenaires table.spip td { font-size: 0.85em; }
  .page_partenaires table.spip td strong { font-size: 1.1em; }
  #content {
    line-height: 1.45;
    letter-spacing: 0.3px;
    margin-bottom: 2em;
    .surtitre{color:$gray-500;}
    .soustitre{color:$gray-500;}
    div.menu {
      .menu-liste .menu-entree { font-size: 1.2em; }
      .plan-article ul { padding: 0.5em 1em; }
      .plan-article ul li { font-size: 0.8em; padding: 0.1em 0; }
    }
    .postmeta { display: none; }
  }
  .liste-items .item .h3 { border: 0px none; }
  .liste-items .item p { margin: 0.25em 0; }
  .meta-publi { font-size: 0.9em; }
  .page_plan h3.h3 { display: none; }
  div.socialtags { clear: none; margin: 0; float: right; margin-top: 1em; overflow: hidden; width: 30%; }
  div.socialtags ul { margin: 0 0 0 2em; display: block; }
  span.date { color: #AAA; }
  .page-sommaire #aside {

    li.item { margin-bottom: 2em; }
  }
  #extra {

    h2.h2 {
      font-size: 1.8em;
      text-transform: uppercase;
      font-weight: 300;
      font-family: $font-family-base;
      color: $gray-500;
      a {
        color: $gray-500;
      }
    }

  }
  #aside {

    h2.h2 { font-size: 1.8em; text-transform: uppercase; font-weight: 300; font-family: $font-family-base; color: $gray-500;
      a { color: $gray-500; }
    }
    .articles > p { text-align: right; }

    h3 { font-size: 1.1em;
      a { }
    }
    .meta-publi { display: none; }
    .logo { padding-right: 0.5em; }
    .introduction { font-size: 0.9em; line-height: 1.2 }
    .actualites{
      .logo{margin-right: 0.5em; width: 80px;float:left;}
      .h3{}
      .introduction{}
    }


  }
  .articles {
    .liste-items li { clear: left; padding: 0.5em 0; }
    .liste-items .logo { float: left; clear: left; }

  }




  @media (max-width: map-get($grid-breakpoints, "sm")) {

    .page .container { padding: 0 }
    .bloc_contact { display: none; }
    #nav { margin-left: 1em; }
    .page { background: #FFF; }
  }
  .navbar .nav > li > a { padding: 5px 15px; font-size:1.1em; }
  .navbar-inner { min-height: 0px; }
  ul, ol { margin-left: 1em; list-style: none; }
  .reponse_formulaire_ok { background-color: #CCFFAA; }
  .cat_checkbox { padding: 0.5em 0;
    div.choix { margin: 0 0 0 1em; }

  }
  #liste-organisation { margin: 0;
    > li.item { padding: 0.5em; border-bottom: 1px #CCC solid; border-right: 1px #EEE solid;
      h3 { margin: 0;
        .type_acteur_relais { display: inline; font-weight: normal; font-size: 0.8em; color: #595959; }
      }
      h4 { margin: 0.5em 0 0 0; }
      .details { font-size: 0.9em;
        .mots {
          ul { display: inline; padding: 0; margin: 0;
            li { display: inline-block; border-bottom: none 0; padding: 0 0.5em 0 0; }
          }
        }
        .btn { z-index: 200; }
      }

    }
    li:hover { background-color: #FAFAFA; }
  }



#footer {
  background-color: #cfd0db; margin: 0; padding: 3em 2em;
  a { color: #555; }
  font-size: 0.9em; line-height: 1.3;
  .published { font-size: 0.9em; }
  #menu_bas_de_page{  display: inline-block;  }
  #semelle{padding-top:5px;}
}





div.cs_blocs {
    background-color: #F1F1F1; border-radius: 0.5em; padding: 0.25em 0.5em;
    div.blocs_titre { background-image: url(../images/triangle_bas.png); margin: 0; }
    div.blocs_titre a { color: #595959; }
    div.blocs_replie { background-image: url(../images/triangle.png); }
  }
  .alaune {
    li.item { margin: 2em 0; }
    p { margin: 0; }
    h3.h3 { margin: 0; }
  }
  .liste_actu {

    li.item { margin: 2em 0; }
    p { margin: 0; font-size: 0.9em; }
    h3.h3 { margin: 0; }
    .entry-title .spip_logos { clear: left; float: left; line-height: 1px; margin: 0 18px 30px 0; }
  }
  .liste_partenaire {
    margin-top: 5em;
    img { margin: 0.25em 0.5em; }
  }
  .heurovelo .entry.document .spip_logos { max-width: 4em; }
  .page_sommaire {

    .sociaux { margin: 1em 0; font-size:14px; display:inline-block;

      .socicon { padding: 0.25em 0.5em 0 0.5em; }

    }

    .pic {
      position:relative; height: 175px;  width: 100%;   overflow: hidden;    border-radius: $border-radius;
      max-width: 400px;
      margin:0 auto;


    }
    /*GROW*/
    .grow img {   position: absolute;  top:0;  left:0;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;

    }
    .evt_vedette {

      li{margin-bottom: 1em;}
      li:hover{
        .grow img {    max-width:110%;  top:-5%;  left:-5%;  width: 110%; }
        background-color: $gray-100;
      }


    }



  }




  .rubrique-bloc{
    margin:0;
    div.item{min-height:9em;background-color: $gray-100;border-radius: $border-radius;margin:0.5em;padding:1em}
    div.item:hover{background-color: $gray-300;}
    h3{font-size: 1.1em;margin: 0 0 0.5em 0 ;
      font-weight: 500;}
    .descriptif{font-size: 0.9em;line-height: 1.3;}
    a{
      color: $gray-900;}
    a:hover{ text-decoration: none;}
  }


  .article-bloc{
    margin:4em 0;

      div.item{
        margin:1em 0; border: 0 none;
        .spip_logo_left{ margin : 0 1em 0 0 ;}
        article { margin:0;height: 80px;overflow:hidden;
          .descriptif{font-size:0.9em;line-height: 1.3}

          abbr.published { display:none; }

        }
        a { padding:1em; background-color:$gray-100; text-transform: none;display: block;border-radius: $border-radius;
          color: $gray-700;}
        a:hover{ text-decoration: none;background-color:$gray-300;}
      }

  }



.article-bloc{
  div.item {
    article {
      abbr.published[title] { display:inline-block; border-bottom:none 0px;font-size:0.9em;color:$bleu-adav;text-decoration:none; }

    }
  }
}









#agenda-liste{

  .week { color:$gray-500; font-size: 0.9em; }
  div.item{
    a { padding: 0.5em 0.75em; background-color:$gray-100; text-transform: none;display: block;border-radius: $border-radius;
      color: $gray-700;}
    a:hover{ text-decoration: none;background-color:$gray-300;}

  article{

    font-size:0.9em;line-height: 1.2em;
    margin:0 0 1em 0; border: 0 none;
    div.date_debut{ color:$bleu-adav;font-size:0.9em;font-weight: bold;}
    span.lieu{ font-size:0.9em;line-height: 1em;}
      div.logo {max-height: 100px;margin:0 auto;overflow: hidden;}

    }

  }

}


#modal_evt {
      .banner {display:block;width: 5.5em;text-align: center;overflow: hidden;opacity: 0.7;
        .label {display: block;padding:0.75em 0;background-color: $bleu-adav;}
        .day {display: block;text-align: center;font-size: 2em;line-height: 1;}
        .month {display: block;text-align: center;text-transform: uppercase;font-size: 0.85em;}
        .year {display: block;text-align: center;font-size: 0.85em;}
      }
  .corp_texte {min-height: 220px;}
}

#socialShare > i { display:none;}


.liste-items .date_publication { display:none; }



///////////////////////////////////////
//////// Specificité Responsive
//////////////////////////////////////


@media screen and (max-width: map-get($grid-breakpoints, "lg")) {

  #nav a{
    font-size:0.9em;
  }
  .navbar .nav > li > a {padding: 5px 10px;}
  .comment-meta .spip_logos{
    position: relative;
    height: 50px;
    width: 50px;

  }
  .comment-meta{
    padding-left: 10px;
  }

}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {

  #nav a {
    font-size: 1em;

  }
  .navbar .nav > li > a {padding: 5px;}
  .navbar-responsive {
    position: absolute;
    right: auto;
    left: 0;
    width: auto;
  }
  .navbar-responsive .navbar-inner {
    margin: 0;
  }
  .navbar-toggle {
    float: none;
    margin: 0.5em
  }
  .collapse.in,
  .navbar-collapse {
    display: none;
  }

  .bloc_adherer {  font-family: $font-family-base; font-weight: 300; font-size: 1.5em;  background-color: $yellow; padding: 0.5em 1em; margin: 0 0 1em 0; text-align: center; border-radius: 0.25em;  }
  .bloc_adherer span { line-height: 2.5; color: $bleu-adav; padding: 0; text-transform: uppercase; }
  #bouton_recherche{ line-height: 2.5;font-size: 1.1em; margin:3px;}

  .comment-meta .spip_logos{
    position: relative;
    height: 50px;
    width: 50px;

  }
  .comment-meta{
    padding-left: 10px;
  }
  .comment-content {
    padding-left: 10px;
  }

}


/* Repositionnement du bouton menu à gauche près du menu Responsive */

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {

  #nav a{
    font-size:1em;
  }

  img{
    max-width:100%; height:auto;
  }


  .comment-content {
    padding-left: 10px;
  }
  .comment-meta{
    padding-left: 10px;
  }
  .comment-meta .spip_logos{
    position: relative;
    height: 25px;
    width: 25px;

  }
}



legend{
  line-height: 1.5;
}


.comment-meta .spip_logos{
  left: 10px;
}

.comment-meta .item{
  display: none;
}


.comments-items .comments-items{margin-left:40px;}
.page_forum-thread{



  #formulaire_forum .saisie_titre{display: none;}

}

  .table_forum{
    border:2px solid $bleu-adav;background-color: $bleu-adav; width: 100%;
    a {color:$bleu-adav;}
    th{
      color:white;
    }
    td{
      text-align: center;
      vertical-align: middle;

    }
    td.text-left{
      text-align: left;

    }
    .td_icone{
      height: 3em;padding-top:0.9em;
    }
    .titreLigne{
      font-weight: bold;
    }
    .titre2Tableau{
      padding:0.25em;
    }


  }



////////////////////////////////////////////////////////////////////
//////////////////////////    Pages Actualite   //////////////////////////////
////////////////////////////////////////////////////////////////////


#actualites,.liste_actu {

  .actu {
    padding: 1em;
    position: relative;
    min-height: 580px;
    border: 1px solid $gray-100;

    article {
      padding: 1em 1em;
      .texte {min-height: 408px;max-height: 408px;}
      h3 { padding: 0.5em 0; line-height: 1.6em; letter-spacing: 0.5px; }
      .pic {
        position: relative; height: 175px; width: 100%; overflow: hidden;
        max-width: 400px;
        margin: 0 auto;

      }
      /*GROW*/
      .grow img { position: absolute; top: 0; left: 0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        width: 100%;
      }

      .texte { margin: -2em auto 0 auto; min-height: 408px;overflow:hidden; }
      .information { position: relative; background-color: $white; padding: 0.25em 0.5em; display: inline-block; z-index: 300; }


      .introduction { line-height: 1.7em; letter-spacing: 0.5px; }

    }

  }

  .actu:hover {
    .grow img,.grow .imgresponsive { max-width: 110% !important; top: -5%; left: -5%; width: 110% !important; }
    background-color: $gray-100; }
}

.liste_actu{
  h3 { margin:0; padding:0; }

}

.bloc_section_actu {
  background-color: $gray-100;
}





.article_actualite-niveaux{
  #content .publication { display: block;font-size:1.25em;
    .authors {display: none;}
  }
  #content .publication { display: block;}


}