$bleu-ciel:                  #6699cc;
$jaune-adav:              #efcb30;
$bleu-adav:              #2c4b6e;
$bleu-clair-adav:         lighten($bleu-adav, 12%);
$bleu-sombre-adav:         darken($bleu-adav, 12%);
